
/*Main drawing panel*/
.container_row{
  display: flex;
  /*width: 90.2%;*/
  height: 95%;
  padding-top: 1%;
/*  float: right;*/
}

.layer1 {
  width: 100%;
  background-color: rgba(255,0,0,0.5);
  z-index: 1;
  border: 1px solid #5C6AC4;
  border-radius: 10px;
}

.layer2{
  width: 100%;
  background-color: rgba(0,0,255,0.5);
  /*margin-left: -100%;*/
  z-index: 0;
  border: 1px solid #5C6AC4;
  border-radius: 10px;
}
/*----------------------------*/


.title {
  color: #5C6AC4;
  font-size: 40px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}


#canvas {
  background-color: blue;
  position: absolute;
  z-index: 1;
}

body {
  background-color: #081f37;
  color: black;
}


/*Button menu*/
.mainTools {
  border-radius: 15px;
  border: 1px solid;
  border-color: #5C6AC4;
  word-wrap: break-word;
}


/* The sidebar menu */
.sidenav {
  height: 95%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 1%;
  left: 0.4%;
  background-color: #081f37;
  overflow-x: hidden; 
  max-width: 300px;
  min-width: 270px;
  user-select: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}





.main_menu button {
  background-color: #5c6ac4; /* Button background */
  border: 1px solid black; /* Border */
  color: white; /* White text */
  padding: 5px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  height: 100%;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.main_menu button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.main_menu:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.main_menu button:hover {
  background-color: #9da6dc;
}












#faq {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}

#faq h2 {
  color: #5C6AC4;
  font-size: 25px;
  line-height: 34px;
  text-align: left;
  padding: 10px 10px 0;
  text-transform: none;
  font-weight: 300;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}

#faq p {
  color: #ffffff;
  text-align: left;
  font-family: 'hm_light', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 30px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #081f37; /*Background color for whole button thing*/
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  border: 1px solid #313d87;
}
#faq ul li + li {
  margin-top: 8px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #5C6AC4; /*arrow color*/
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
  color: #818181; /*Outside word color*/
}
#faq ul li input[type=checkbox]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: .3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}
#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}











* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: .3em 0;
}

ul {
  padding: 0;
  list-style: none;
}






/*auto Font button*/
#autoFont {
  border-radius: 15px;
  border: 1px solid;
  border-color: #5C6AC4;
  word-wrap: break-word;
  background-color: #1d2450;
  color: #ffffff;
}

/* Add a background color on hover */
#autoFont:hover {
  background-color: #9da6dc;
}

#customNameButton {
  border-radius: 15px;
  border: 1px solid;
  border-color: #5C6AC4;
  word-wrap: break-word;
  background-color: #1d2450;
  color: #ffffff;
  padding: 4px;
}
#customNameButton:hover {
  background-color: #9da6dc;
}




#lineCostButton {
  border-radius: 15px;
  border: 1px solid;
  border-color: #5C6AC4;
  word-wrap: break-word;
  background-color: #1d2450;
  color: #ffffff;
  padding: 4px;
}


/* Add a background color on hover */
#lineCostButton:hover {
  background-color: #9da6dc;
}


/*Select list*/
#node_names {
  display: inline-block;
  width: 45px;
  height: 25px;
  line-height: 30px;
  position: relative;
  background-color: #5c6ac4;
  border-radius: 5px;
  border-color: #5c6ac4;
  text-align: center;
}
#node_names:checked ~ .bg
{
  content: ">";
  display: inline-block;
  background: white;
  position: absolute;
  right: -5px;
  top: 2px;
  z-index: 2;
  width: 30px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border: 2px solid #ddd;
  transform: rotate(90deg);
  cursor: pointer;
}



#defaultButton {
  border-radius: 15px;
  border: 1px solid;
  border-color: #5C6AC4;
  background-color: #1d2450;
  color: #ffffff;
  padding: 2px;
}
#defaultButton:hover {
  background-color: #9da6dc;
}




#save_btn {
  outline: 0;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  padding: 0 5px;
  height: 45px;
  width: 100px;
  color: white;
  background-color: #0070f3;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#save_btn:hover {
  background-color: rgba(255, 118, 255, 0.9);
}
#load_btn {
  outline: 0;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid black;
  padding: 0 56px;
  height: 45px;
  color: white;
  background-color: #0070f3;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#load_btn:hover {
  background-color: rgba(255, 118, 255, 0.9);
}




.draggedNode {
  border: 10px solid black;
}





/*vector button*/
#vector {
  width: 40px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #5C6AC4;
 /* word-wrap: break-word;*/
  background-color: #1d2450;
  color: #ffffff;
  padding-top: 20px;
}

/* Add a background color on hover */
#vector:hover {
  background-color: #9da6dc;
}





/*Tasks output box*/
#TaskOutput {
  border-radius: 5px;
  background-color: #5c6ac4;
  border: 1px;
  border-color: #000000;
  /*padding: 10px 50px 30px 0;*/

  max-width: 194px;
  min-width: 194px;

  max-height: 200px;
  min-height: 100px;

  margin: 0 auto;
  padding: 4px;
  color: #ffffff;
}
#TaskOutput:focus {
    outline: none;
}


